{
  "rules": {
    "indent": [ 2, 2 ],
    "quotes": [ 2, "single" ],
    "linebreak-style": [ 2, "unix" ],
    "semi": [ 2, "never" ],
    "curly": [ 1, "multi" ],
    "no-console": 2,
    "no-cond-assign": 0,
    "no-use-before-define": [ 2, "nofunc" ],
    "key-spacing": 0,
    "no-multi-spaces": 0
  },
  "env": {
    "node": true
  }
}
