{
  "rules": {
    "@typescript-eslint/indent": [ 2, 2 ],
    "quotes": [ 2, "single" ],
    "linebreak-style": [ 2, "unix" ],
    "@typescript-eslint/semi": [ 2, "never" ],
    "curly": [ 1, "multi" ],
    "no-console": 2,
    "@typescript-eslint/no-use-before-define": [ 2, "nofunc" ]
  },
  "env": {
    "node": true
  },
  "plugins": ["@typescript-eslint"],
  "parser": "@typescript-eslint/parser",

}
